<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arham.baca" version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Baca APK</name>
    <description>Aplikasi Media Pembelajaran Baca</description>
    <author email="arham@example.com">Arham FR</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-minSdkVersion" value="24" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
