name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - run: npm install -g cordova
      - name: Final Build Attempt
        run: |
          mkdir -p www
          cordova platform add android@12.0.0 --non-interactive
          cordova build android --debug --device
      - uses: actions/upload-artifact@v4
        with:
          name: APK-Hasil-Terakhir
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
